.urlo, {
	margin-top: 20px;
	margin-left: 20px;
}

.viale {
	margin-top: 30px;
	margin-left: 20px;
}

.donne {
	margin-top: 20px;
	margin-left: 10px;
}

.cavaliere {
	margin-top: 20px;
	margin-left: 10px;
}

.danza {
	margin-top: 20px;
	margin-left: 20px;	
}

.picasso1 {
	margin-top: 20px;
	margin-left: 20px;	
}

h3 {
	margin-top: 100px;
}

h1, h2 {
	text-align: center;
	color: #C48189;
}

h3, h4 {
	color: #C48189;
}